<nav>
    <a href="/"> My profile </a>
    <a href="/showMyCourses">Show my courses</a>
    <a href="/logout"> Logout </a>
    <a href="/showCourses"> Show courses </a>
    <a href="/checkout"> My cart </a>
    <a href="/addCourse"> Add courses </a>
</nav>