<form action="/addCourse" method="post">

    <input type="text" name="name" id="" placeholder="course">
    <input type="text" name="description" id="" placeholder="description">
    <input type="number" name="price" id="" placeholder="price">
    <button type="submit">Add course</button>
    
</form>