<form action="/login" method="post">
    <input type="text" name="name" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <button type="submit">Login</button>
    
    <span>Don't have an account?</span>
    <a href="/register">Register</a>

    <a href="/reset">Forgot password?</a>
</form>