<h1>List of courses</h1>

<%  courses.forEach( course => { %>
    <div>
        <%= course.name %>
    </div>
    <div>
        <%= course.price %>
    </div>
    <a href="/addToCart/<%=course.id%>">Add to Cart</a>
    <div>=================</div>
 <%  }) %>



   

